<!-- category.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">


<section class="category-section">
    <h2 class="category-title">{{ category.name }}</h2>
    <div class="book-grid-category">
        {% for book in books %}
        <div class="book-card-category">
            <div class="book-image-category">
                <img src="{{ book.cover_image.url }}" alt="Book Cover">
            </div>
            <div class="book-details">
                <h4 class="book-title-category">{{ book.title }}</h4>
                <p class="book-author-category">by {{ book.author }}</p>
                <p class="book-price-category">₹{{ book.price }}</p>
                <a href="{% url 'core:book_detail' book.id %}" class="view-book-btn" style="text-decoration: none;">View Book</a>

            </div>
        </div>
        {% empty %}
        <p class="no-books-found">No books found in this category.</p>
        {% endfor %}
    </div>
</section>
</div>
{% endblock %}